<div class='row'>
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

    <%if @search_message %>
      <p>
        <%=@search_message%>
      </p>
    <%end%>
    <table class="table table-hover">
      <thead>
          <th></th>
          <th>Name</th>
          <th>Cooking Time</th>
          <th>Ingredients</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td>
            <%= form_tag(recipes_path, :method => 'get', class: 'search_form name_form', enforce_utf8: false) do %>
              <%= label_tag :search_name, "Search by Name" %>
              <%= text_field_tag :search_name, params[:search_name], placeholder: "Search recipes" %>
              <%= button_tag(type: 'submit', class: "btn btn-primary", :id=> "search") do %>
                <span class="glyphicon glyphicon-search"></span>
              <%end%>
            <% end %>
          </td>
          <td>
            <%= form_tag(recipes_path, :method => 'get', class: 'search_form time_form', enforce_utf8: false) do %>
              <%= label_tag :search_cooking_time, "Search by Cooking Time" %>
              <%= text_field_tag :search_cooking_time, params[:search_cooking_time], placeholder: "Search recipes" %>
              <%= button_tag(type: 'submit', class: "btn btn-primary", :id=> "search") do %>
                  <span class="glyphicon glyphicon-search"></span>
              <%end%>
            <% end %>
          </td>
          <td>
            <%= form_tag(recipes_path, :method => 'get', class: 'search_form ingredients_form', enforce_utf8: false) do %>
                <%= label_tag :search_ingredients, "Search by Ingredients" %>
                <%= text_field_tag :search_ingredients, params[:search_ingredients], placeholder: "Search recipes" %>
                <%= button_tag(type: 'submit', class: "btn btn-primary", :id=> "search") do %>
                  <span class="glyphicon glyphicon-search"></span>
                <%end%>
            <% end %>
          </td>
        </tr>
        <%if Recipe.all.count > 0 %>
          <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <%=image_tag(recipe.image, class: "recipe-small-image")%>
              </td>
              <td class='name'>
                <%=link_to recipe.name, recipe_path(recipe) %>
              </td>
              <td class='cooking-time'>
                <%=recipe.cooking_time%>
              </td>
              <td class='ingredients'>
                <%recipe.display_individual_ingredients.each do |ingredient| %>
                    | <%=ingredient%>
                  <%end%> |
              </td>
            </tr>
          <% end %>
          <%else%>
            Sorry, we currently have no recipes for you
          <% end %>
      </tbody>
    </table>
    <%= will_paginate @recipes %>
  </div>
</div>